.Card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	// align-items: center;
	margin: 16px;
	height: max-content;
	width: 250px;
	font-weight: 600;
	font-size: 20px;
	word-wrap: break-word;
	padding: 5px;
	border-radius: 5px;
	border-style: none none none solid;
	border-color: #fc6e2d;
	border-width: 8px;
	position: relative;
	@extend %add-shadow;
	transition: 250ms ease-out;
	overflow: hidden;
	&:hover {
		cursor: pointer;
		background-color: #fc6e2d;
		color: white;
		border-color: inherit;
	}

	.bgIco {
		position: absolute;
		color: #9ccff85d;
		font-size: 8em;
		bottom: 0;
		right: -20px;
		opacity: 0.7;
	}
}
