.Card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	// align-items: center;
	margin: 16px;
	height: max-content;
	width: 250px;
	font-weight: 600;
	font-size: 20px;
	word-wrap: break-word;
	padding: 5px;
	border-radius: 5px;
	border-style: none none none solid;
	border-color: #fc6e2d;
	border-width: 8px;
	position: relative;
	@extend %add-shadow;
	transition: 250ms ease-out;
	&:hover {
		cursor: pointer;
		background-color: #fc6e2d;
		color: white;
		border-color: inherit;
	}
}

// @media screen and (max-width: 500px) {
// 	.Card {
// 		width: 100px;
// 		height: 100px;
// 		margin: 15px 10px;
// 	}
// }
